<!DOCTYPE html>
<html>
<head>
    <title>ARCBiotracker Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <h2>ARCBiotracker Login</h2>
                {% if message %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endif %}
                <form action="/login" method="POST">
                    <div class="form-group">
                        <label for="Username">Username</label>
                        <input type="text" name="Username" class="form-control" id="Username" required>
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" name="Password" class="form-control" id="Password" required>
                    </div>
                    <div class="form-group">
                        <label>User Type</label><br>
                        <div id="user-selector">
                            <div class="user-type"><input type="radio" id="patient" name="user_type" value="Patient"><label for="patient">Patient</label></div>
                            <div class="user-type"><input type="radio" id="caregiver" name="user_type" value="Caregiver"><label for="caregiver">Caregiver</label></div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>