<!DOCTYPE html>
<html>
<body>

<h2>Log Your Readings</h2>

<form action="/action_page.php">
  <label for="date">Date:</label><br>
  <input type="date" id="readingdate" name="date" value=" "><br>

  <label for="Time">Time:</label><br>
  <input type="time" id="time" name="time" value=" "><br>

  <label for="reading">Reading (mg/dL):</label><br>
  <input type="number" id="reading" name="reading" value=" "><br><br>

 <label for="Notes">Notes:</label><br>
  <input type="text" id="notes" name="Notes" value=" "><br>

  <label for="device">Device:</label><br>
  <input type="text" id="device" name="device" value=" "><br><br>

  <label for="lname">Last Name:</label><br>
  <input type="text" id="lname" name="lname" value=" "><br>



  <input type="submit" value="Submit">
</form>

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>